.hero {
    background: linear-gradient(
                rgba(0, 0, 0, 0.4), 
                rgba(0, 0, 0, 0.4)
              ),
              url("https://i.ibb.co/7J7T3L8/travel-banner.jpg")
              no-repeat center/cover;

    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero h1 {
    font-size: 28px;
    font-weight: bold;
}

.hero p {
    font-size: 16px;
}
